@page "/employeedetails/{id}"
@page "/employeedetails"
@rendermode InteractiveServer
@inherits EmployeeDetailsBase

@if(Employee is null)
{
    <p>Loading....</p>
}
else
{
    <EmployeeCard Employee="Employee" IsShowViewBtn="false"
        CssClass="m-auto col-md-8">
    </EmployeeCard>
}

